<app-calendar></app-calendar>

<form class="showInfo" [formGroup]="findForm" autocomplete="off" novalidate (ngSubmit)="find(findForm.value)">
  <mat-form-field appearance="fill">
    <mat-label>Subject</mat-label>
    <mat-select #subject formControlName="subjectFormControl">
      <mat-option [value]="subject" *ngFor="let subject of subjects">{{ subject.nameOfSubject }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Room</mat-label>
    <mat-select #room formControlName="roomFormControl">
      <mat-option [value]="room" *ngFor="let room of rooms">{{ room.room }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Group</mat-label>
    <mat-select #group formControlName="groupFormControl">
      <mat-option [value]="group" *ngFor="let group of groups">{{ group.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Lecturer</mat-label>
    <mat-select #lecturer formControlName="lecturerFormControl">
      <mat-option [value]="lecturer" *ngFor="let lecturer of lecturers"
        >{{ lecturer.firstName }} {{ lecturer.lastName }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field class="datepicker">
    <mat-label>Start date</mat-label>
    <input
      matInput
      [matDatepickerFilter]="dateFilter"
      [matDatepicker]="dateFrom"
      formControlName="startDateFormControl"
    />
    <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
    <mat-datepicker #dateFrom startView="year"></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="datepicker">
    <mat-label>End date</mat-label>
    <input matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="dateTo" formControlName="endDateFormControl" />
    <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
    <mat-datepicker #dateTo startView="year"></mat-datepicker>
  </mat-form-field>
  <input matInput class="time" type="time" #timeFrom formControlName="startTimeFormControl" />
  <input matInput class="time" type="time" #timeTo formControlName="endTimeFormControl" />
  <mat-card-actions>
    <button mat-raised-button color="primary" class="btn btnFind">
      Find
    </button>
    <button type="button" mat-raised-button color="warn" class="btn" (click)="clear()">
      Clear
    </button>
    <button mat-raised-button class="btn" (click)="showError()">ShowError</button>
  </mat-card-actions>
</form>
