<div *ngIf="!sliderAddNewState" class="showSlider">
  <button mat-mini-fab color="primary" aria-label="hide" (click)="hide()" style="margin-bottom: 10px;">
    <mat-icon>close</mat-icon>
  </button>
  <div *ngIf="lesson" class="showInfo">
    <mat-form-field appearance="fill">
      <mat-label>Subject</mat-label>
      <mat-select [value]="lesson.subject" #subject>
        <mat-option [value]="lesson.subject" selected>{{ lesson.subject.nameOfSubject }}</mat-option>
        <mat-option [value]="subject" *ngFor="let subject of subjects">{{ subject.nameOfSubject }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Room</mat-label>
      <mat-select [value]="lesson.room" #room>
        <mat-option [value]="lesson.room" disabled>{{ lesson.room.room }}</mat-option>
        <mat-option [value]="room" *ngFor="let room of rooms">{{ room.room }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Group</mat-label>
      <mat-select [value]="lesson.group" #group>
        <mat-option [value]="lesson.group" disabled>{{ lesson.group.name }}</mat-option>
        <mat-option [value]="group" *ngFor="let group of groups">{{ group.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Lecturer</mat-label>
      <mat-select [value]="lesson.lecturer" #lecturer>
        <mat-option [value]="lesson.lecturer" disabled
          >{{ lesson.lecturer.firstName }} {{ lesson.lecturer.lastName }}</mat-option
        >
        <mat-option [value]="lecturer" *ngFor="let lecturer of lecturers"
          >{{ lecturer.firstName }} {{ lecturer.lastName }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field id="datepicker">
      <input matInput [matDatepicker]="picker" [value]="lesson.startAt" #startAt />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year"></mat-datepicker>
    </mat-form-field>

    <mat-slide-toggle class="example-margin" color="primary">
      Timestamp
    </mat-slide-toggle>
    <mat-slider thumbLabel min="1" max="8" step="1" color="primary" [value]="lesson.lessonNum" #lessonNum></mat-slider>

    <button
      mat-raised-button
      color="primary"
      style="float: right; margin-top: 5px;"
      (click)="
        updateLesson(subject.value, room.value, lecturer.value, group.value, startAt.value, lessonNum.value.toString())
      "
    >
      Change
    </button>
    <button mat-raised-button color="primary" style="margin-top: 5px;" (click)="deleteLesson()">
      Delete
    </button>
  </div>
</div>
<!--------------------------------------------------add---------------------------------->
<div *ngIf="sliderAddNewState" class="showSlider">
  <button mat-mini-fab color="primary" aria-label="hide" (click)="hide()" style="margin-bottom: 10px;">
    <mat-icon>close</mat-icon>
  </button>
  <div class="showInfo">
    <mat-form-field appearance="fill">
      <mat-label>Subject</mat-label>
      <mat-select #subject>
        <mat-option [value]="subject" *ngFor="let subject of subjects">{{ subject.nameOfSubject }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Room</mat-label>
      <mat-select #room>
        <mat-option [value]="room" *ngFor="let room of rooms">{{ room.room }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Group</mat-label>
      <mat-select #group>
        <mat-option [value]="group" *ngFor="let group of groups">{{ group.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Lecturer</mat-label>
      <mat-select #lecturer>
        <mat-option [value]="lecturer" *ngFor="let lecturer of lecturers"
          >{{ lecturer.firstName }} {{ lecturer.lastName }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field id="datepicker">
      <input matInput [matDatepicker]="picker" #startAt />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year"></mat-datepicker>
    </mat-form-field>

    <mat-slide-toggle class="example-margin" color="primary">
      Timestamp
    </mat-slide-toggle>
    <mat-slider thumbLabel min="1" max="8" step="1" color="primary" #lessonNum></mat-slider>

    <button
      mat-raised-button
      color="primary"
      style="float: right; margin-top: 5px;"
      (click)="
        addNewLesson(subject.value, room.value, lecturer.value, group.value, startAt.value, lessonNum.value.toString())
      "
    >
      Add
    </button>
  </div>
</div>
