<div id="time">
  <div id="divider">
    <button mat-icon-button color="primary" *ngIf="!showFirstShift" (click)="getTimestamp()">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
    <button mat-icon-button color="primary" *ngIf="showFirstShift" (click)="getTimestamp()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
  </div>
  <div class="timestamp" *ngFor="let timestamp of timestamps; trackBy: trackByMethod">
    <p>{{ timestamp }}</p>
  </div>
</div>

<div id="week">
  <div class="weekstamp"><p>M</p></div>
  <div class="weekstamp"><p>T</p></div>
  <div class="weekstamp"><p>W</p></div>
  <div class="weekstamp"><p>T</p></div>
  <div class="weekstamp"><p>F</p></div>
  <div class="weekstamp unique">
    <p>S</p>
    <button mat-icon-button color="primary">
      <mat-icon>arrow_drop_up</mat-icon>
    </button>
    <button mat-icon-button color="primary">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </div>
</div>

<div id="timetable">
  <mat-card
    class="card"
    [class.selected]="lesson === selectedLesson"
    (click)="showSliderComponent(lesson)"
    *ngFor="let lesson of lessons"
  >
    <div class="lesson">
      <div class="subject">{{ lesson.subject.nameOfSubject }}</div>
      <div class="room">{{ lesson.room.room }}</div>
    </div>
  </mat-card>
</div>
<app-slider-menu
  [class.hide]="hideSlider"
  [lesson]="selectedLesson"
  [lessons]="lessons"
  [sliderAddNewState]="sliderAddNewState"
  (deletedLesson)="deleteLesson($event)"
  (addLesson)="addNewLesson($event)"
  (hideComponent)="hideSliderComponent($event)"
></app-slider-menu>
