<mat-drawer-container class="entering" autosize>
  <mat-card>
    <form [formGroup]="signInForm" class="sigh" autocomplete="off" novalidate (ngSubmit)="signIn(signInForm.value)">
      <mat-card-content>
        <mat-form-field>
          <input matInput type="text" placeholder="Login" formControlName="login" id="login" />
          <mat-hint>Not more then 60 characters long.</mat-hint>
          <mat-error *ngIf="hasSignInError('login', 'required')">Login is required</mat-error>
          <mat-error *ngIf="hasSignInError('login', 'maxlength')">You have more than 60 characters</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Password"
            formControlName="password"
            id="password"
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>

          <mat-hint>Not more then 255 characters long.</mat-hint>
          <mat-error *ngIf="hasSignInError('password', 'required')">Password is required</mat-error>
          <mat-error *ngIf="hasSignInError('password', 'maxlength')">You have more than 255 characters</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-raised-button
          type="submit"
          color="primary"
          [disabled]="!signInForm.valid"
          class="right"
          routerLink="/timetable"
        >
          Sign in
        </button>
      </mat-card-actions>

      <div class="hint">
        <p>Not registered yet? Please, <a (click)="drawer.toggle()">Sign up</a></p>
      </div>
    </form>
  </mat-card>

  <!------------------------------------------------Register--------------------------------------------------->

  <mat-drawer #drawer class="entering" mode="side" position="end">
    <mat-card>
      <form [formGroup]="signUpForm" class="sigh" autocomplete="off" novalidate (ngSubmit)="signUp(signUpForm.value)">
        <mat-horizontal-stepper [linear]="false">
          <mat-card-content>
            <mat-step>
              <mat-form-field>
                <input matInput type="text" placeholder="Firstname" formControlName="firstName" id="firstName" />
                <mat-error *ngIf="hasSignUpError('firstName', 'required')">FirstName is required</mat-error>
                <mat-error *ngIf="hasSignUpError('firstName', 'maxlength')"
                  >You have more than 255 characters</mat-error
                >
              </mat-form-field>
              <button class="next" matStepperNext>Next</button>
            </mat-step>

            <mat-step>
              <mat-form-field>
                <input matInput type="text" placeholder="LastName" formControlName="lastname" id="lastname" />
                <mat-error *ngIf="hasSignUpError('lastname', 'required')">LastName is required</mat-error>
                <mat-error *ngIf="hasSignUpError('lastname', 'maxlength')">You have more than 255 characters</mat-error>
              </mat-form-field>
              <button class="next" matStepperNext>Next</button>
            </mat-step>

            <mat-step>
              <mat-form-field>
                <input matInput type="text" placeholder="Surname" formControlName="surname" id="surname" />
                <mat-error *ngIf="hasSignUpError('surname', 'required')">Surname is required</mat-error>
                <mat-error *ngIf="hasSignUpError('surname', 'maxlength')">You have more than 255 characters</mat-error>
              </mat-form-field>
              <button class="next" matStepperNext>Next</button>
            </mat-step>

            <mat-step>
              <mat-form-field>
                <input matInput type="text" placeholder="Email" formControlName="email" id="email" />
                <mat-error *ngIf="hasSignUpError('email', 'required')">Login is required</mat-error>
                <mat-error *ngIf="hasSignUpError('email', 'maxlength')">You have more than 60 characters</mat-error>
              </mat-form-field>
              <button class="next" matStepperNext>Next</button>
            </mat-step>

            <mat-step>
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="Password"
                  formControlName="password"
                  [type]="hide ? 'password' : 'text'"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="hasSignUpError('password', 'required')">Password is required</mat-error>
                <mat-error *ngIf="hasSignUpError('password', 'maxlength')">You have more than 255 characters</mat-error>
              </mat-form-field>
            </mat-step>
          </mat-card-content>
        </mat-horizontal-stepper>

        <mat-card-actions>
          <button mat-raised-button color="primary" class="right" [disabled]="!signUpForm.valid">Sign up</button>
        </mat-card-actions>

        <div class="hint">
          <p>Registered? You can <a (click)="drawer.toggle()">Sign in</a></p>
        </div>
      </form>
    </mat-card>
  </mat-drawer>
</mat-drawer-container>
