<mat-card class="role-container">
  <mat-toolbar>
    <div class="name">Name:</div>
    <div class="addRole">
      <button mat-raised-button color="primary" style="float: right;" (click)="addRole()">
        Add role<mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let role of roles; trackBy: trackById">
      <mat-expansion-panel-header>
        <mat-panel-title style="width: 20%;">
          {{ role.name }}
        </mat-panel-title>

        <mat-panel-description style="width: 10%;">
          2
        </mat-panel-description>

        <mat-panel-description style="width: 10%;">
          3
        </mat-panel-description>

        <mat-panel-description style="width: 20%;">
          25.08.2020
        </mat-panel-description>

        <mat-panel-description style="width: 15%;">
          <a class="upd" (click)="changeName(role)">Update</a>
          <a class="del" (click)="deleteRole(role)">DELETE</a>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="fullInfo">
        <div *ngFor="let feature of role.entries; trackBy: trackById" class="permission">
          <div class="permissionName">{{ feature.name }}</div>
          <div class="permissionDescription">{{ feature.description }}</div>
          <a class="delPermission" (click)="deleteFeatureInRole(role, feature)">DELETE</a>
        </div>

        <div class="permission">
          <button mat-raised-button color="primary" style="float: right;" (click)="showAddFeatureDialog(role)">
            Add features<mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
