<header>
  <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate" id="progressBar"></mat-progress-bar>
  <button mat-mini-fab id="menuBtn" color="primary" aria-label="Menu" (click)="inputSideNav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div id="logo">
    <div id="imgLogo">
      <img src="../../assets/img/logo.svg" />
    </div>
    <div id="logoName">
      <div>Time</div>
      <div id="logoSpan">Table</div>
    </div>
  </div>
  <button type="button" id="account">
    <img src="../../assets/img/user.svg" />
  </button>
  <button mat-raised-button *ngIf="!AddLessonBtnState" (click)="addLesson()" color="primary" class="addBtn">
    New Lesson
  </button>
  <button mat-raised-button *ngIf="AddLessonBtnState" (click)="addLesson()" color="primary" class="addBtn">
    Back
  </button>
</header>
